---
import Badge from "~/components/badge.astro"
import { careerHistory } from "~/lib/data"
---

<section id="career">
  <h2 class="mb-10 text-center text-3xl font-bold tracking-tight md:text-4xl">
    Beruflicher Werdegang
  </h2>

  <div class="grid-col-1 relative mx-auto grid max-w-4xl gap-12">
    <div class="absolute top-0 bottom-0 left-6 w-0.5 bg-muted"></div>
    {
      careerHistory.map((job) => (
        <div class="relative flex">
          <div class="z-10 flex size-12 shrink-0 items-center justify-center rounded-full border-2 border-border bg-background text-sm font-bold text-muted-foreground">
            {job.period.split(" ")[0]}
          </div>
          <div class="p-6 pt-0">
            <h3 class="text-xl font-bold">{job.position}</h3>
            <p class="mb-3 text-sm font-medium text-muted-foreground">
              {job.company} • {job.period}
            </p>
            <p class="mb-4 hidden text-muted-foreground md:block">{job.description}</p>
            <div class="flex flex-wrap gap-2">
              {job.technologies.map((tech) => (
                <Badge>{tech}</Badge>
              ))}
            </div>
          </div>
        </div>
      ))
    }
  </div>
</section>
